%% -*- mode: erlang -*-
%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{erl_opts, [debug_info, % For consistency with our deploys.
%            {d, 'EPGSQL', pgsql} % 0.29.2.2
            {d, 'EPGSQL', epgsql} % 2015-01-15  and later
           ]}.
{deps,
 [
  % test7 = allthethings + newest epgsql + newest pooler
  {sqerl, ".*", {git, "git://github.com/chef/sqerl.git", {branch, "mp/remove-extraneous-sync"} }},
  {epgsql, ".*", {git, "git://github.com/epgsql/epgsql.git", {branch, "master"}} },
  {pooler, ".*", {git, "git://github.com/seth/pooler.git", {branch, "master"}} }
  % test6 allthethings
  %{sqerl, ".*", {git, "git://github.com/chef/sqerl.git", {branch, "mp/remove-extraneous-sync"} }},
  %{epgsql, ".*", {git, "git://github.com//epgsql-1.git", "14f35271b49dc634142cb1157985521215b0b311"}},
  %{pooler, ".*", {git, "git://github.com/seth/pooler.git", "7bb8ab83c6f60475e6ef8867d3d5afa0b1dd4013"}}
  % test4 = test3 + remove sync
  %
  % test2 = test1 + ssd's fix 5/13
  %{sqerl, ".*", {git, "git://github.com/chef/sqerl.git", "770a4bc7515fbbbc0ca276fe85e80f09ee951fdc" }},
  %{epgsql, ".*", {git, "git://github.com/chef/epgsql-1.git", "14f35271b49dc634142cb1157985521215b0b311"}},
  %{pooler, ".*", {git, "git://github.com/seth/pooler.git", "7bb8ab83c6f60475e6ef8867d3d5afa0b1dd4013"}}
  % test1 Initial prod deploy - use -define(?EPGSQL, epgsql) above.
  %{sqerl, ".*", {git, "git://github.com/chef/sqerl.git", "cd8f9588699f872dfdf80f6316c9ef8286ad501b" }},
  %{epgsql, ".*", {git, "git://github.com/chef/epgsql-1.git", "14f35271b49dc634142cb1157985521215b0b311"}},
  %{pooler, ".*", {git, "git://github.com/seth/pooler.git", "7bb8ab83c6f60475e6ef8867d3d5afa0b1dd4013"}}
  % test0 0.29.2.2 configuration. Use -define(?EPGSQL, pgsql) above
  %{sqerl, ".*", {git, "git://github.com/chef/sqerl.git", "7e5f773cd2a03d97b9f2bfb93e9ed11caf65a60d" }},
  %{epgsql, ".*", {git, "git://github.com/opscode/epgsql.git", "6b016ba7bd932919d57770fcca6cf11c285ef268"}},
  %{pooler, ".*", {git, "git://github.com/seth/pooler.git",  "7bb8ab83c6f60475e6ef8867d3d5afa0b1dd4013"}}
 ]
}.




%% Add dependencies that are only needed for development here. These
%% dependencies will be hidden from upstream projects using this code
%% as a dependency.
%% {dev_only_deps,
%%  [
%%   {proper, ".*", {git, "git://github.com/manopapad/proper.git", "master"}}
%%  ]}.


%% Set this to true if you will build OTP releases of this project via
%% `make rel` and want to include the rebar_lock_deps_plugin. You can
%% also specify `{branch, Branch}' or `{tag, Tag}' to use a specific
%% build of the plugin.
{use_lock_deps, false}.

%% Use edown to render a markdown version of edoc. The generated
%% markdown can be checked in and will be browsable on github. The
%% default is to add edown as a dev only dependency and to enable
%% it. You can set this to false to do your own thing.
{use_edown, false}.

{cover_enabled, false}.
